:root {
--lightMagenta: #e942ff;
--lightViolet: #8838ff;
--lightGrayishVioletAppBackground: #f5f3f7;
--veryDarkDesaturatedViolet: #3e2753;
--veryLightMagenta: #e570ff;
--weightRegular: 400;
--weightSemiBold: 500;
--weightBold: 700;
--fontRubik: "Rubik", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: var(--fontRubik);
    background-color: var(--lightGrayishVioletAppBackground);
    padding: 80px 0;
    width: 100vw;
    overflow-x: hidden;
}
body::before {
    content: "";
    height: 500px;
    width: 50%;
    background-image: linear-gradient(to top, var(--lightViolet), var(--lightMagenta));
    border-radius: 0 0 1000px 1000px;
    position: absolute;
    top: 0px;
    right: 100%;
    transform: translateX(50%);
}
body::after {
    content: "";
    height: 500px;
    width: 50%;
    background-color: #f9f4fa;
    background-color: #f1edf1;
    border-radius: 1000px 1000px 0 0;
    position: absolute;
    bottom: 0px;
    left: 100%;
    transform: translateX(-50%);
}
/* another solution */
/* body::after {
    content: "";
    height: 500px;
    width: 23%;
    background-color: #f1edf1;
    border-radius: 1000px 0 0 0;
    position: absolute;
    bottom: 0px;
    right: 0;
} */
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
@media (min-width: 768px) {
    .container {
        width: 680px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 890px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}
.mobile {
    width: 100%;
    max-width: 360px;
    border-radius: 36px;
    background-color: white;
    /* border: 14px solid var(--lightGrayishVioletAppBackground); */
    padding: 16px;
    position: relative;
    box-shadow: 14px 24px 48px 0 #63487b2b;
    z-index: 2;
}
.mobile::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 146px;
    height: 27px;
    border-radius: 0 0 14px 14px;
    z-index: 1;
}
.mobile header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--lightViolet), var(--lightMagenta));
    padding: 47px 20px 16px;
    border-radius: 30px 30px 10px 10px;
    position: relative;
}
.mobile header .right-sec {
    display: flex;
    align-items: center;
    gap: 9px;
    color: white;
}
.mobile header .right-sec img {
    max-width: 35px;
    border: 2px solid white;
    border-radius: 50%;
}
.mobile header .right-sec .label p:last-child {
    font-size: 13px;
    color: #cb8ccbdb;
}
.mobile header .left-sec {
    color: white;
}

.mobile .content {
    background-color: var(--lightGrayishVioletAppBackground);
    margin-top: -10px;
    padding: 30px 20px 20px;
    border-radius: 0 0 30px 30px;
}

.message-1 {
    background-color: #ede4f5;
    border-radius: 12px 12px 12px 4px;
    padding: 10px;
    color: var(--lightViolet);
    max-width: 195px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: start;
    line-height: 1.3;
}
.images {
    margin: 20px 0 12px auto;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
}
.images img {
    max-width: 54px;
    border-radius: 8px;
}
.message-2 {
    background-color: white;
    border-radius: 12px 12px 4px 12px;
    padding: 10px;
    color: var(--veryDarkDesaturatedViolet);
    max-width: 195px;
    margin-bottom: 10px;
    margin-left: auto;
    line-height: 1.3;
    font-size: 13px;
    text-align: start;
}

.message-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 14px 14px 14px 6px;
    padding: 17px 14px;
    color: white;
    max-width: 220px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: start;
    background-image: linear-gradient(to left, var(--lightViolet), var(--lightMagenta));
}

.message-3 .circle {
    width: 20px;
    height: 20px;
    border: 2px solid #b984b994;
    background-color: transparent;
    border-radius: 50%;
}

.message-3 .left-sec {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #cdb3cd;
}
.message-3 .right-sec {
    font-size: 18px;
    font-weight: var(--weightSemiBold);
}
form {
    width: 100%;
    display: block;
    margin-top: 30px;
    position: relative;
}
form input {
    background-color: white;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 18px 22px;
    border-radius: 100px;
}
form input::placeholder {
    color: #ede4f5;
}
form button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: var(--veryDarkDesaturatedViolet);
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3px;
    right: 6px;
    font-weight: var(--weightBold);
    font-size: 18px;
}
.container > .text {
    width: 90%;
    max-width: 560px;
    z-index: 2;
}
.container > .text h1 {
    color: var(--veryDarkDesaturatedViolet);
    margin: 0 auto 30px;
    font-size: 41px;
    font-weight: 600;
}
.container > .text p {
    color: #9c9b9f;
    line-height: 1.5;
}
@media (min-width: 768px) {
    body {
        padding: unset;
    }
    .container {
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }
    .container > .text {
        position: relative;
        width: 35%;
        max-width: unset;
    }
}
@media (min-width: 992px) {
    .container > .text {
        width: 52%;
    }
}
@media (min-width: 1200px) {
    .container > .text h1 {
        font-size: 48px;
    }
}